{% extends "base.html" %}
{% load url from future %}

{% block body %}
			<div class="page-header">
				<h1>All executions</h1>
			</div>

<div class="container">

{% if exec_list %}
			<table class="table table-striped">
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Author</th>
					<th>Status</th>
				</tr>
				
				{% for ex in exec_list %}
				
				<tr>
					<td><a href="{% url 'executiondetail' ex.id %}">{{ ex.title }}</a></td>
					<td>{{ ex.start_date }}</td>
					<td>{{ ex.author }}</td>
					<td>{{ ex.get_status_display }}</td>
				</tr>

				{% endfor %}
			</table>
{% else %}
			<p>No Executions are available.</p>
{% endif %}

    </div> <!-- /container -->

{% endblock body %}
