{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shifter Assistant Replay</title>

	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="{{ STATIC_URL }}css/react.tags.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />

	<script language="javascript">
		var STATIC_URL = "{{ STATIC_URL|escapejs }}";
	</script>
</head>

<body role="document">
	<div class="navbar-sa">
		<div class="container">
				<a class="navbar-home-sa" href="{% url 'home' %}">SAReplay</a>
					<a class="navbar-rest-sa" target="_blank" href="http://atlas-project-tdaq-cc.web.cern.ch/atlas-project-tdaq-cc/cgi/rn.pl">Run Nums DB</a>
					<a class="navbar-rest-sa" href="https://twiki.cern.ch/twiki/bin/viewauth/Atlas/SaReplayProject">Documentation</a>
					{% if user.is_authenticated %}
						<a class="navbar-rest-sa logout" href="{% url 'django.contrib.auth.views.logout' %}">Logout ({{ user.username }})</a>
					{% endif %}
		</div>
	</div>

	<div class="container" role="main">
		{% block body %}
		{% endblock %}
	</div>

</body>
</html>
