{% extends "base.html" %}
{% load url from future %}

{% block body %}

<div class="page-header">

	<div class="pagination">
	    <span class="step-links">
	        {% if alerts.has_previous %}
	            <a href="?page={{ alerts.previous_page_number }}">previous</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ alerts.number }} of {{ alerts.paginator.num_pages }}.
	        </span>
	
	        {% if alerts.has_next %}
	            <a href="?page={{ alerts.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>

      <table class="table table-striped">
      	<tr>
      		<th>Source</th>
      		<th>Domain</th>
      		<th>Timestamp</th>
      		<th>Name</th>
      		<th>Message</th>
      		<th>Action</th>
      		<th>Severity</th>
      	</tr>

{% for a in alerts %}
      	<tr>
		<td>{{ a.source }}</td>
		<td>{{ a.domain }}</td>
		<td>{{ a.timestamp_parsed }} ({{ a.timestamp }})</td>
		<td>{{ a.name }}</td>
		<td>{{ a.message }}</td>
		<td>{{ a.action }}</td>
		<td>{{ a.severity }}</td>
      	</tr>
      	<tr>
      		<td colspan="7">
      		<ul>
      		{% for d in a.details_parsed.events %}
      			<li>
      			{% for w1, w2 in d.items %}
      			<strong>{{ w1 }}:</strong> {{ w2 }} 
      			{% endfor %}
      			</li>
      		{% endfor %}
      		</ul>
      		</td>
      	</tr>
{% endfor %}
      </table>
      
</div>

{% endblock body %}

