{% extends "base.html" %}
{% load url from future %}

{% block body %}

<div class="page-header">
	<h1>Execution detail</h1>
	<table class="table table-striped">
		<tr>
			<th>Title:</th>
			<td>{{ ex.title }}</td>
		</tr>
		<tr>
			<th>Start date:</th>
			<td>{{ ex.start_date }}</td>
		</tr>
		<tr>
			<th>Run numbers:</th>
			<td>{{ ex.run_numbers }}</td>
		</tr>
		<tr>
			<th>P-BEAST data source:</th>
			<td><input type="text" value="{{ ex.osiris_part_class }}" readonly="readonly" class="form-control"></td>
		</tr>
		{% if ex.osiris_part_class_attr %}
		<tr>
			<th>P-BEAST data source <em>part;class;attr</em>:</th>
			<td>{{ ex.osiris_part_class_attr }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Status:</th>
			<td>{{ ex.get_status_display }} ({{ ex.status }})</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<div>output dir: {{ ex.output_dir }}</div>
				<div>Skip errors: <strong>{{ ex.skip_errors|yesno }}</strong></div>
				<div>Include DAQ directives: <strong>{{ included_daq_files }}</strong></div>
				<div>Timeout: {{ ex.timeout }}</div>
				<div>Errors on output: {{ extra_output.was_errors|yesno }}</div>
				<div>Exit by log file size limit: {{ extra_output.exit_by_logfilesizelimit|yesno }}</div>
				<div>Exit by line count limit: {{ extra_output.exit_by_linecountlimit|yesno }}</div>
				<div>Exit by Replay Finish: {{ extra_output.exit_by_replayfinish|yesno }}</div>
			</td>
		</tr>
	</table>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% if ex.filedata %}
  <!-- Directive #1 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         Directive #0
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		<pre><code class="xml">{{ ex.filedata }}</code></pre>
      </div>
    </div>
  </div>
  {% endif %}
  {% for dd in included_files %}
  <!-- Directive #{{ dd.id }} -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDir{{ dd.id }}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDir{{ dd.id }}" aria-expanded="false" aria-controls="collapseDir{{ dd.id }}">
         Directive: {{ dd.filename }}
        </a>
      </h4>
    </div>
    <div id="collapseDir{{ dd.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDir{{ dd.id }}">
      <div class="panel-body">
		<pre><code class="xml">{{ dd.filedata_uncompressed }}</code></pre>
      </div>
    </div>
  </div>
  {% endfor %}
    
  <!-- Logs output -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Logs output
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<pre>{{ logdata.read }}</pre>
      </div>
    </div>
  </div>
  
  <!-- Console Output -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Console output
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <pre>{{ consoledata.read }}</pre>
      </div>
    </div>
  </div>
  
  <!-- Alerts -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Alerts
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
          <a href="{% url 'alerts' ex.id %}">View all alerts</a>
      </div>
    </div>
  </div>
  
  <!-- Metrics -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Metrics
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
					{% if metricsfiles %}
							{% for mm in metricsfiles %}
								<h3>{{ mm }}</h3>
								<img alt="" src="{% url 'metricimg' ex.id mm %}">
							{% endfor %}
					{% endif %}
      </div>
    </div>
  </div>
</div>
	

	<!-- 
	<h2>Directive</h2>
	<pre><code class="xml">{{ ex.filedata }}</code></pre>
	
	<h2>Logs output</h2>
	<pre><code>{{ logdata }}</code></pre>
	
	<h2>Console output</h2>
	<pre><code>{{ consoledata }}</code></pre>
	
	<h2>Metrics</h2>

	 -->
</div>

{% endblock body %}

