{% extends "base.html" %}
{% load url from future %}

{% block body %}
    <form class="form-signin" style="max-width: 400px; margin: 0px auto" method="post" action="{% url 'sacore.auth.login' %}">
      <h2>Please sign in.</h2>

	    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          You have entered an invalid username or password. Please try again.
        </div>
	    {% endif %}

      {% csrf_token %}
      <input type="text" name="username" id="inputusername" class="form-control" placeholder="Username" required autofocus>
      <br />
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <br /><br />
      <button class="btn-sign-in" type="submit">Sign in</button>
      </form>
{% endblock body %}
