.navbar-sa {
  background-color: #6F5499;
}

.navbar-home-sa {
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
}

.navbar-home-sa:hover {
  background-color: #9F84C9;
  text-decoration: none;
  color: #ffffff;
}

.navbar-rest-sa {
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navbar-rest-sa:hover {
  background-color: #9F84C9;
  text-decoration: none;
  color: #ffffff;
}

.logout {
  float: right;
}

.btn-sign-in {
  display: block;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background-color: #6F5499;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  border: none;
}

.btn-sign-in:focus {
  background-color: #9F84C9;
}

.btn-sign-in:hover {
  background-color: #9F84C9;
}

.executions-search-wrapper {
  width: 100%;
}

.executions-search-input {
  padding-left: 35px !important;
}

.executions-list {
  padding: 30px 10px;
}

.executions-table {
  width: 100%;
}

.executions-table th {
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
}

.executions-table td {
  text-align: center;
}

.executions-table tbody.execution {
  border-bottom: 1px solid #EEE;
}

.executions-table tbody.execution:hover {
  background-color: #FEF2FF;
}

.executions-table tr.content td {
  border-right: 1px solid #EEE;
  padding: 5px;
}

.executions-table tr.content td:last-child {
  border-right: none;
}

.executions-table tr.log td {

}

.executions-table td.executions-name {
  text-align: left;
}

.executions-table td.executions-log {
  text-align: left;
  font-weight: normal;
}

.new-execution-button {
  float: right;
  margin-bottom: 10px;
  padding: 0 5px 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #9F84C9;
  cursor: pointer;
  border: 1px solid #7F64A9;
}

.new-execution-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7F64A9;
}

.new-execution-button span {
  padding: 0px 5px;
  font-size: 25px;
}

.new-execution-popup {
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%, 0%);

  width: 800px;

  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.new-execution-popup label{
  display: block;
  padding-top: 3px;
  width: 120px;
  float: left;
  margin-bottom: 10px;
}

.new-execution-popup input {
  display: block;
  width: 640px;
  float: left;
  margin-bottom: 10px;
  border-radius: 0px;
}

input.run-number-field {
  width: 200px;
}

.new-execution-popup br {
  clear: left;
}

.new-execution-button-cancel, .new-execution-button-submit {
  margin: 5px;
  float: right;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #9F84C9;
  cursor: pointer;
  border: 1px solid #7F64A9;
}

.new-execution-button-cancel {
  color: #333;
  background-color: #fff;
  border: 1px solid #000;
}

.new-execution-button-submit:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7F64A9;
}

.new-execution-button-cancel:hover {
  text-decoration: none;
  color: #333;
  background-color: #EEE;
}

.btn-add-run-number {
  font-size: 20px;
  margin: 1px 8px;
  color: #ffffff;
  background-color: #9F84C9;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  border: 1px solid #000;
}

.btn-add-run-number:focus, .btn-add-run-number:hover {
  background-color: #7F64A9;
}

/* Range slider */
.slider-container  {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}

.slider-container div {
  flex-basis: 19%;
}

.slider-run-number {
  font-weight: bold;  
  text-align: right;
  padding: 0 10px;
}

.slider-run-number .close-button {
  color: #ffffff;
  border-radius: 20px;
  padding: 0 5px;
  background-color: #b30000;
}

.slider-run-number .close-button:hover {
  text-decoration: none;
  background-color: #770000;
}

.slider-container .slider {
  flex-basis: 100%;
}

.slider .bar-1 {
  background-color: #9F84C9;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.slider .bar-0, .slider .bar-2 {
  background-color: #EFD4FF;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
}


.slider .handle-0, .slider .handle-1 {
  background-color: #f0f0f0;
  width:20px;
  height:20px;
  border: 2px solid #9F84C9;
  border-radius: 10px;
}

.slider .handle-label {
  margin: 30px 0 0 -63px;
  width: 140px;
  text-align: center;
}
.arrow-box {
	position: relative;
	background: #f0f0f0;
	border: 2px solid #9F84C9;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:after {
	border-color: rgba(240, 240, 240, 0);
	border-bottom-color: #f0f0f0;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box:before {
	border-color: rgba(159, 132, 201, 0);
	border-bottom-color: #9F84C9;
	border-width: 13px;
	margin-left: -13px;
}

.directive-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label.directive-item {
  width: auto;
  min-width: 150px;
  padding: 10px;
  font-weight: bold;
}

input.directive-item {
  /* Force override of bootstrap input */
  width: auto !important;
  margin: 2px !important;
}
